@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#CCC), color-stop(#EEE), to(#CCC));
  background: -webkit-linear-gradient(bottom, #CCC, #EEE, #CCC);
  background: -o-linear-gradient(bottom, #CCC, #EEE, #CCC);
  background: linear-gradient(0deg, #CCC, #EEE, #CCC);
}

/*####### TOP BANNER #######*/

.bg {
  background-color: #504A54;
  text-align: center;
}

/*####### BANNER TEXT #######*/
.header-container {
  padding-top: 20px;
}

.header-text {
  font-size: 8vw !important;
  color: #f5f5f5 !important;
}

.navigation {
  color: #f5f5f5 !important;
  font-size: 2vw;
  text-align: center;
  padding: 10px 0;
}

.navigation span {
  padding: 2px 8px;
  margin: 0 5px;
  border-radius: 5px;
}

.selected {
  background-color: #A535E3;
  padding: 2px 8px;
  margin: 0 5px;
  border-radius: 5px;
}

.navigation span:hover  {
  color: #CCCCCC;
}

.menu-alignment {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*####### FORM STYLING #######*/

.content {
  padding: 20px 0;
  text-align: center;
}

.spacer {
  padding: 0 20px;
}

/*####### ANIMATION AREA #######*/

.animation-space {
  margin: 20vh auto;
}

/*####### ANIMATION IMAGE TYPES #######*/

.squares {
  background-color: #333;
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.circles {
  background-color: #333;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.img-div {
  text-align: center;
}

.photo-border {
  background-color: #333;
  border: 10px solid white;
}

.text-shape {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.button-shape {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

/*########@@@@@@@ ANIMATIONS @@@@@@@#######*/


/*####### Large Fade Out #######*/

@-webkit-keyframes large-fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes large-fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

/*####### SMALL FADE In #######*/

@-webkit-keyframes small-fade-in {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes small-fade-in {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

/*####### Vertical Squish #######*/
@-webkit-keyframes vertical-squish {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes vertical-squish {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

/*####### 360 Turn #######*/

@-webkit-keyframes three-sixty {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes three-sixty {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*####### Top Flip #######*/
@-webkit-keyframes bottom-flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes bottom-flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

/*####### Lift Flip #######*/
@-webkit-keyframes lift-flip {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes lift-flip {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

/*####### Flip Outward #######*/
@-webkit-keyframes flip-outward {
  0% {
            -webkit-transform: scale(1) rotateX(0);
                    transform: scale(1) rotateX(0);
  }
  50% {
            -webkit-transform: scale(2.5) rotateX(-90deg);
                    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
            -webkit-transform: scale(1) rotateX(-180deg);
                    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-outward {
  0% {
            -webkit-transform: scale(1) rotateX(0);
                    transform: scale(1) rotateX(0);
  }
  50% {
            -webkit-transform: scale(2.5) rotateX(-90deg);
                    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
            -webkit-transform: scale(1) rotateX(-180deg);
                    transform: scale(1) rotateX(-180deg);
  }
}

/*####### Side Flip #######*/
@-webkit-keyframes side-flip {
  0% {
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
            transform: translateX(50%) rotateY(-90deg) scale(2);
  }
  100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
            transform: translateX(100%) rotateY(-180deg) scale(1);
  }
}
@keyframes side-flip {
  0% {
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
            transform: translateX(50%) rotateY(-90deg) scale(2);
  }
  100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
            transform: translateX(100%) rotateY(-180deg) scale(1);
  }
}

/*####### Swing Up #######*/
@-webkit-keyframes swing-up {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@keyframes swing-up {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

/*####### Slide Left #######*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0);
            transform: translateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(-10vw) rotateY(90deg);
            transform: translateX(-10vw) rotateY(90deg);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0);
            transform: translateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(-10vw) rotateY(90deg);
            transform: translateX(-10vw) rotateY(90deg);
  }
}

/*####### Slide Right #######*/
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0);
            transform: translateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(10vw) rotateY(-90deg);
            transform: translateX(10vw) rotateY(-90deg);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0);
            transform: translateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(10vw) rotateY(-90deg);
            transform: translateX(10vw) rotateY(-90deg);
  }
}
