@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0deg, #CCC, #FFF, #CCC);
}

/*####### TOP BANNER #######*/

.bg {
  background-color: #504A54;
  text-align: center;
}

/*####### BANNER TEXT #######*/
.header-container {
  padding-top: 20px;
}

.header-text {
  font-size: 8vw !important;
  color: #f5f5f5 !important;
}

.navigation {
  color: #f5f5f5 !important;
  font-size: 2vw;
  text-align: center;
  padding: 10px 0;
}

.navigation span {
  padding: 2px 8px;
  margin: 0 5px;
  border-radius: 5px;
}

.selected {
  background-color: #A535E3;
  padding: 2px 8px;
  margin: 0 5px;
  border-radius: 5px;
}

.navigation span:hover  {
  color: #CCCCCC;
}

/*####### FORM STYLING #######*/

.content {
  padding: 20px 0;
  text-align: center;
}

.spacer {
  padding: 0 20px;
}

/*####### ANIMATION AREA #######*/

.animation-space {
  height: 200px;
  width: 200px;
  background-color: #333;
  margin: 25vh auto;
}

/*####### ANIMATION IMAGE TYPES #######*/

.squares {
  border-radius: 5px;
}

.circles {
  border-radius: 50%;
}

.photo-border {
  border: 10px solid white;
}

/*########@@@@@@@ ANIMATIONS @@@@@@@#######*/


/*####### Large Fade Out #######*/

@keyframes large-fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.large-fade-out:hover {
  animation: large-fade-out 2s ease forwards;
}

/*####### SMALL FADE In #######*/

@keyframes small-fade-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.small-fade-in:hover {
  animation: small-fade-in 2s linear forwards;
}

/*####### Vertical Squish #######*/
@keyframes vertical-squish {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

.vertical-squish:hover {
  animation-name: vertical-squish;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
